*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-size:14px;
  min-height: 100vh;
  position: relative;
}


.App {
  text-align: center;
}

/* Encabezado */

.cont-enc{
  width: 100%;
  max-height:100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-style: dashed;
  border-color: #B52C2C;
}

@media (min-width: 745px) { 
  .cont-enc{
      max-height:170px;
  }
}
.img-enc{
  width: 80%;
  height: 80%;
  max-width: 270px;
  max-height: 90px;
}

@media (min-width:745px ) { 
  .img-enc{
      width: 80%;
      height: 80%;
      max-width: 510px;
      max-height: 165px;
  }
}

.line-enc{
  width: 100%;
  height: 2px;
  background-color: #B52C2C;
}

/* Navegacion */

.cont-nav{
  margin-top: 5px;
  width:100%;
  height: 40px;
  background-color: #B52C2C;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}

@media (min-width:745px ) { 
  .cont-nav{
      height: 62px;
  } 
}

.img-cart{
  width:27px;
  height: 27px;
}

@media (min-width:745px ) { 
  .img-cart{
      width:40px;
      height: 40px;
  }
}

.ini-nav{
  color: white;
  text-decoration: none;
}

.ini-nav:hover{
  color: #000000;
}

.pro-nav{
  color: white;
  text-decoration: none;
}

.pro-nav:hover{
  color: #000000;
}

@media (min-width:745px ) { 
  .ini-nav{
      font-size: 25px;
  }
  
  .pro-nav{
      font-size: 25px;
  }
}
/* Bienvenida */

.cont-bie{
  margin: 0 auto;
  width:290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tit-bie{
  width: 290px;
  margin-top: 20px;
  text-align: center;
  font-size:20px;
  font-weight: 750;
  border-bottom-style: solid;
  border-color: #B52C2C;

}

.cont-bie p{
  text-align: justify;
  margin-top: 10px;
  margin-bottom: -10px;
  line-height: 1.5;

}

/* Descubrir */

.gal-des{
  background-color: #a67e7e;
  width:290px;
  height:90px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ele-gal-des{
  background-color:#D9D9D9 ;
  width: 60px;
  height: 70px;
  display: flex ;
  justify-content: center;
  align-items: center;
}

.img-gal{
  width: 95%;
}

/* Contacto */

.cont-con{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width:240px;
  margin-top: 10px;
  padding-bottom: 100px;
  border-top:solid 3px #B52C2C;

}

/* Pie */

.cont-pie{
  width: 100%;
  height: 40px;
  background-color:#5F5F5F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.cora-pie{
  color:#B52C2C;
}

/* Productos Trabajo */

.sec-prod{
  margin:0 auto;
  width:320px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width:500px ) { 
  .sec-prod{
      width:480px;
  }
}

@media (min-width:1044px ) { 
  .sec-prod{
      width:750px;
  }
}

.ProductosTrabajo{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
}

.carrito-btn{
  background-color: #D9D9D9;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 12px;
  border: none;
}


@media (min-width:745px ) { 
  .carrito-img{
    width: 90%;
  }
}

.carrito-btn:hover{
  background-color: #B52C2C;
}

.carrito-img{
  width: 65%;
}

.cada-prod{
  background-color: #B52C2C;
  width: 165px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

@media (min-width:745px ) { 
  .cada-prod{
      width: 217px;
      height: 272px;
  }
}

.nom-prod{
  font-size: 12px;
  text-align: center;
}

@media (min-width:745px ) { 
  .nom-prod{
      font-size: 15px;
  }
}
.cont-prod{
  background-color: #D9D9D9;
  width:140px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

@media (min-width:745px ) { 
  .cont-prod{
      width:186px;
      height: 213px;
  }
}
.cont-img-prod{
  display: flex;
  justify-content: center;
 height: 130px;
}

.img-prod{
  height: 90%;
  border-radius: 10px;
}

.precio-prod{
  background-color: #D9D9D9;
  width:140px ;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

@media (min-width:745px ) { 
  .precio-prod{
      width:186px ;
      height: 32px;
  }
}
.cop-prod{
  font-weight: 700;
}

@media (min-width:745px ) { 
  .cop-prod{
    font-weight: 700;
    font-size: 17px;
  }
}
/* Descripcion */
.sec-descr-gen{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-descr{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.tit-descr{
  width: 140px;
  margin-top: 20px;
  text-align: center;
  font-size:19px;
  font-weight: 750;
  border-bottom-style: solid;
  border-color: #B52C2C;
}

.cont-p-descr{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items:center;
}

.p-descr{
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 11px;
  width: 180px;
  margin-top: 30px;
}

/* Contador */
.sec-conta{
  margin-top: 25px; 
  width:330px;
  display: flex;
}

.cont-conta{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.btn-adi{
  background-color: #B52C2C;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 10px;
}


.btn-sus{
  background-color: #5F5F5F;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0 10px;
}

.btn-basu{
  border: none;
  background-color:transparent;
  width: 17px;
  height: 17px;
  margin-top: 3px;

}

.cont-talla{
  width: 100px;
  margin-left: 5px;
}

.btn-volver{
  color:white;
  width: 78px;
  height: 20px;
  background-color: #B52C2C;
  font-size: 10px;
  border-radius: 5px;
  border-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-prod-carro{
  background-color: #D9D9D9;
  width:195px;
  height: 145px;
  display: flex;
  border-radius: 10px;
  align-items: center;

}
@media (min-width:745px ) { 
  .cont-prod-carro{
    width:405px;
    height: 255px;
  }
}

.cont-img-prod-carro{
  display: flex;
  justify-content: center;
  width: 50px;
  height: 60px;
 border: solid 3px #B52C2C;
 margin-left: 5px;
 margin-top: 30px;
}

@media (min-width:745px ) { 
  .cont-img-prod-carro{
    display: flex;
    justify-content: center;
    width: 105px;
    height: 125px;
   margin-left: 25px;
   margin-top: 30px;
   border: solid 5px #B52C2C;
  }
}

.p-descr-carro{
  justify-content: center;
  font-size: 9px;
  text-align: justify;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 5px;
  width: 126px;
}

@media (min-width:745px ) { 
  .p-descr-carro{
    justify-content: center;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 10px;
    width: 220px;
  }
}

.btn-seguir{
  color:white;
  width: 60px;
  height: 30px;
  background-color: #B52C2C;
  font-size: 10px;
  border-radius: 5px;
  border-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width:745px ) { 
  .btn-seguir{
    width: 140px;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 5px;
  }
}
.cont-izq-carro{
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sec-descr-gen-carro{
  display: flex;
  justify-content: space-around;
  max-width: 320px;
  margin: 0 auto;
  margin-top: 0px;
}

.detalles{
  width: 405px;
}
/* Resumen */
.res-carro{
  background-color: #B52C2C;
  border-radius: 15px;
  width: 110px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 8px #B52C2C;
}

@media (min-width:745px ) { 
  .res-carro{
    width: 260px;
  }
}
.res-carro h3{
  color:#ffffff;
}

.res-carro-int{
  background-color: white;
  width: 99px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@media (min-width:745px ) { 
  .res-carro-int{
    background-color: white;
    width: 230px;
    height: auto;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.cop-prod-car{
  font-size:10px ;
}

@media (min-width:745px ) { 
  .cop-prod-car{
    font-size:15px ;
    text-align: center;
  }
}

.entrega{
  margin-top: 10px;
}

.btn-wa{
  color:white;
  width: 170px;
  height: 20px;
  background-color: #B52C2C;
  font-size: 10px;
  border-radius: 5px;
  border-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.res-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont-prod-res{
  
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtotal{
  margin-top: 10px;
}

.sec-descr-carro{
  display: flex;
  margin-top: 40px;
}

.sec-descr-gen-carro{
  display: flex;
  flex-direction: column;
}

.gran-div{
  display: flex;
  justify-content: space-evenly;
}
.carrito-der{
  
  display: flex;
  flex-direction: column;
  align-items: center;
 margin-top: 20px;
}

.sec-descr-res{
  background-color: #D9D9D9;
  min-width:250px;
  height: auto;
  display:flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
}
.sec-descr-gen-carro-res{

}